
/* back to top */
#back-to-top {
    background:#E73037;
    color:#ffffff;
    padding:8px 10px;
    font-size:24px;
    }
    .back-to-top {
    position:fixed !important;
    position:absolute;
    bottom:20px;
    right:20px;
    z-index:999;
    }