body {
    background:#dddddd none repeat scroll top left;
    margin:0 0 0 0;
    padding:0 0 0 0;
    color:#333333;
    font:normal normal 13px Arial, sans-serif;
    text-align:left;
    }
    /* WRAPPER */
    #wrapper {
    background:#f9f9f9;
    max-width:1000px;
    margin:20px auto;
    padding:28px;
    box-shadow: 0px 0px 5px rgba(80, 80, 80, 0.1);
    overflow:hidden;
    }