/* FOOTER */
#footer-wrapper {
    background:#333333;
    margin:0 auto;
    padding:20px 5px;
    overflow:hidden;
    color:#eeeeee;
    font-size:11px;
    }
    .footer-left {
    float:left;
    margin:10px;
    }
    .footer-right {
    float:right;
    margin:10px;
    }
    #footer-wrapper a {
    color:#eeeeee;
    }
    #footer-wrapper a:hover {
    color:#ffffff;
    }