
/* share buttons */
.share-buttons-box {
    height: 67px;
    background: url(http://3.bp.blogspot.com/-moj4-jk-UB0/U1qCkCPaGQI/AAAAAAAADTY/tixmak8NHV8/s1600/share.png) no-repeat 330px 10px;
    margin:20px 0 15px;
    overflow:hidden;
    }
    .share-buttons {
    margin:0 0;
    height:67px;
    float:left;
    }
    .share-buttons .share {
    float:left;
    margin-right:10px;
    display:inline-block;
    }