//  Main Color
$keycolor : #66bbdd;

// Page
$Body_Font : normal normal 13px Arial, sans-serif;
$Body_TextColor : #333;

// Main Backgrounds
$Body_Background : #ddd;
$Wrapper_Background : #f9f9f9;

// Links
$Link_Color : #ee3322;
$Link_visited : #ee3322;
$Link_Hover : #0072c6;

// Blog Title
$Header_Font : normal bold 24px Fjalla One, Arial, Helvetica, sans-serif;
$Header_TextColor : #333;

// Blog Description
$Description_TextColor : #555;

// Primary Navigation Menu
$Menu_Font : normal normal 12px Arial, sans-serif;
$Menu_Background : #fff;
$Menu_TextColor : #666;
$Menu_HoverColor : #f5f5f5;
$Menu_BorderColor : #e5e5e5;

// Secondary Navigation Menu
$Menu_Font : normal normal 12px Arial, sans-serif;
$Menu_Background : #333;
$Menu_TextColor : #fff;
$Menu_HoverColor : #222;
$Menu_BorderColor : #e73138;

// Search Box
$Input_Background : #fff;
$Button_Background : #e73037;
$Input_Color : #666;
$Button_Color : #fff;

// Post 
$Post_Background :#fff;
$Post_BorderColor :#e5e5e5;

// Post Title
$PostTitle_Font : normal normal 20px Fjalla One, Helvetica, Arial, sans-serif;
$PostTitle_Color : #ee3322;

// Post Footer
$PostFooter_Background : transparent;
$PostFooter_TextColor : #666;

// Recent Post
$RecentPost_Background : #fff;
$RecentPost_BorderColor : #e5e5e5;

// Recent Post Widget Title
$RecentPost_WidgetTitle_Font : normal bold 14px Arial, sans-serif;
$RecentPost_WidgetTitle_TextColor : #fff;
$RecentPost_WidgetTitle_Background : #e73138;

// Recent Post Title
$RecentPost_Font : normal normal 16px Fjalla One, Helvetica, Arial, sans-serif;
$RecentPost_Color : #ee3322;

// Sidebar Widget Title
$Sidebar_WidgetTitle_Font : normal bold 12px Arial, sans-serif;
$Sidebar_WidgetTitle_TextColor : #333;
$Sidebar_WidgetTitle_BorderColor : #e73138;

// BottomBar
$BottomBar_Background : #454545;
$BottomBar_Color : #ddd;
$BottomBar_LinkColor : #ddd;
$BottomBar_HoverColor : #fff;
$BottomBar_BorderColor : #e5e5e5;

// BottomBAr Widget Title
$BottomBar_WidgetTitle_Font : normal bold 13px Arial, sans-serif;
$BottomBar_WidgetTitle_TextColor : #eee;
$BottomBar_WidgetTitle_BorderColor : #eee;

// Footer
$Footer_Background : #333;
$Footer_Color : #eee;
$Footer_LinkColor : #eee;
$Footer_HoverColor : #ffff;

// Read More
$ReadMore_Background : $fff;
$ReadMore_Color : #333;
$ReadMore_BorderColor : #ddd; 
$ReadMore_HoverColor : #aaa;

// Back To Top
$BackTop_Background : #e73037;
$BackTop_Color : #fff;

// Label
$Label_Background : #e73037;
$Label_Color : #fff;
$Label_HoverColor : #333;
$Label_CountColor : #333;